header{
    background-color: blueviolet;
    display: flex;
    
}

.list-menu{
   
    text-align: right;
    flex-grow: 1;
    margin-top: 30px;
}

.icon-menu{
    display: none;
    text-align: right;
    flex-grow: 2;
    margin-top: 10px;
    font-size:40px;
    
}


.toggle-menu-container{
    display:flex;
    flex-direction: column;
    background-color: aqua;
}

.d-none{
    display: none;
}


/* <!-- TODO
- [ ] 너비가 992px 이상일 때, 메뉴1~4 리스트가 보여짐 (메뉴 아이콘 가리기, css)
- [ ] 너비가 992px 미만일 때, 메뉴 아이콘이 보여짐 (메뉴1~4 리스트 가리기, css)
  - [ ] Bootstrap Icon 사용
- [ ] 너비가 992px 미만일 때, 메뉴 아이콘 클릭시 .toggle-menu 가 나타남 (javascript)
--> */
@media (min-width:992px){
    .list-menu{
        display: block;
    }.icon-menu{
        display: none;
    }.d-none{
        display: none;
    }
}


@media (max-width:992px){
    
    .list-menu{
        display: none;
    }.icon-menu{
        display: block;
    }
        
}